---
Checks:          '*,
                  -altera-id-dependent-backward-branch,
                  -altera-struct-pack-align,
                  -altera-unroll-loops,
                  -cppcoreguidelines-pro-type-vararg,
                  -fuchsia-default-arguments-calls,
                  -fuchsia-multiple-inheritance,
                  -fuchsia-trailing-return,
                  -google-build-using-namespace,
                  -google-readability-braces-around-statements,
                  -google-runtime-references,
                  -hicpp-braces-around-statements,
                  -hicpp-signed-bitwise,
                  -hicpp-vararg,
                  -llvm-header-guard,
                  -llvm-include-order,
                  -llvmlibc-callee-namespace,
                  -llvmlibc-implementation-in-namespace,
                  -llvmlibc-restrict-system-libc-headers,
                  -readability-braces-around-statements,
                  -readability-identifier-length'
...
