---
Checks:          '*,
                  -altera-struct-pack-align,
                  -altera-unroll-loops,
                  -bugprone-easily-swappable-parameters,
                  -concurrency-mt-unsafe,
                  -cppcoreguidelines-avoid-c-arrays,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-avoid-reference-coroutine-parameters,
                  -cppcoreguidelines-macro-usage,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -fuchsia-default-arguments-calls,
                  -fuchsia-default-arguments-declarations,
                  -fuchsia-overloaded-operator,
                  -fuchsia-statically-constructed-objects,
                  -fuchsia-trailing-return,
                  -google-readability-todo,
                  -hicpp-avoid-c-arrays,
                  -hicpp-no-array-decay,
                  -hicpp-uppercase-literal-suffix,
                  -llvm-header-guard,
                  -llvm-qualified-auto,
                  -llvmlibc-callee-namespace,
                  -llvmlibc-implementation-in-namespace,
                  -llvmlibc-inline-function-decl,
                  -llvmlibc-restrict-system-libc-headers,
                  -misc-include-cleaner,
                  -misc-non-private-member-variables-in,
                  -misc-non-private-member-variables-in-classes,
                  -modernize-avoid-c-arrays,
                  -performance-enum-size,
                  -readability-function-cognitive-complexity,
                  -readability-identifier-length,
                  -readability-implicit-bool-conversion,
                  -readability-magic-numbers,
                  -readability-qualified-auto,
                  -readability-static-accessed-through-instance,
                  -readability-uppercase-literal-suffix'
CheckOptions:
  - key: modernize-use-trailing-return-type.TransformLambdas
    value: none
